<app-header></app-header>
<div class="inicio-wrapper">
  <!-- <header class="header">
    <span>INICIO</span>
    <div class="icons">
      <i class="material-icons">notifications</i>
      <i class="material-icons">person</i>
      <i class="material-icons">settings</i>
      <i class="material-icons">logout</i>
    </div>
  </header> -->

  <div class="logo-container">
    <img src="assets/fidelyLogin.png" alt="logo fidely" />
    <h4 class="subtitulo">Fidely Argentina - Fidely</h4>
  </div>

  <div class="botonera">
    <button class="btn fidelidad" (click)="irAFidelidad()"><p class="mb-0">FIDELIDAD</p></button>
    <button class="btn giftcard" (click)="irAGiftCard()"><p class="mb-0">GIFTCARD</p></button>
    <button class="btn sorteo" (click)="irASorteo()"><p class="mb-0">SORTEO</p></button>
    <button class="btn encuestas" (click)="irAEncuesta()"><p class="mb-0">ENCUESTAS</p></button>
    <button class="btn gestion" disabled (click)="irAGestion()"><p class="mb-0">GESTIÓN</p></button>
    <button class="btn pagos" disabled (click)="irAPagos()" ><p class="mb-0">PAGOS</p></button>
  </div>
</div>
