
<div *ngIf="etapa === 'seleccion'" class="giftcard-container">
  <!-- Encabezado -->
  <app-header [headerTitle]="titulo || 'GiftCard'"></app-header>
  <div class="main-content"></div>
  <!-- Etapa 1: selección de operación -->
  <div class="botonera">
    <button class="btn-opcion compra" (click)="irACompra()">
      <i class="material-icons">shopping_bag</i>
      COMPRA
    </button>
    <button class="btn-opcion cargar-saldo" (click)="irACargarSaldo()">
      <i class="material-icons">add_card</i>
      CARGAR SALDO
    </button>
    <button class="btn-opcion anulacion" (click)="irAAnulacion()">
      <i class="material-icons">cancel_presentation</i>
      ANULACIÓN
    </button>
    <button class="btn-opcion consultar-saldo" (click)="irAConsultarSaldo()">
      <i class="material-icons">price_change</i>
      CONSULTAR SALDO
    </button>
  </div>
</div>

<!-- Etapa 2: ingreso de monto -->
<div *ngIf="etapa === 'monto'" class="giftcard-etapa-monto text-center mt-4">
  <p>Número de tarjeta: <strong>{{ numeroTarjeta }}</strong></p>

  <div class="monto-input">
    <p>Ingrese el monto</p>
    <input type="number" [(ngModel)]="saldo" class="form-control w-50 mx-auto" placeholder="$0.00" />
  </div>

  <button class="btn btn-success mt-3" (click)="confirmarOperacion()">✔️ Confirmar</button>
</div>
