<div class="container">
  <app-header [headerTitle]="'Fidelidad - Compra'" [arrowNavigation]="'fidelidad'"></app-header>
  <div class="main-content"></div>
  <div class="grid-buttons">
    <button class="tarjetas" (click)="accionTarjeta()">
      <i class="material-icons">credit_score</i>
      TARJETAS
    </button>
    <button class="qr" (click)="accionQR()">
      <i class="material-icons">qr_code_scanner</i>
      QR
    </button>
    <button class="documento" (click)="goToIdentificacionUsuario()">
      <i class="material-icons">contact_mail</i>
      DOCUMENTO
    </button>
  </div>
</div>
