<!-- Etapa 1: Selección de método -->
<div *ngIf="etapa === 'inicio'" class="container">
  <app-header [headerTitle]="'Sorteo'" [arrowNavigation]="'inicio'"></app-header>
    <div class="main-content"></div>

  <div class="grid-buttons">
    <button class="tarjetas" (click)="abrirPopTarjeta()">
      <i class="material-icons">credit_card</i>
      TARJETAS
    </button>
    <button class="qr" (click)="escanearQR()">
      <i class="material-icons">qr_code_scanner</i>
      QR
    </button>
    <button class="documento" (click)="abrirPopDocumento()">
      <i class="material-icons">contact_mail</i>
      DOCUMENTO
    </button>
  </div>
</div>

<!-- Etapa 2: Mostrar sorteos -->
<div *ngIf="etapa === 'sorteos'">
  <app-header [headerTitle]="'Sorteos Disponibles'"></app-header>
  <div class="container mt-3">
    <div *ngFor="let sorteo of sorteos" class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ sorteo.title }}</h5>
        <p class="card-text">Desde: {{ sorteo.date_from }} - Hasta: {{ sorteo.date_to }}</p>
        <p class="card-text">Participaciones máximas: {{ sorteo.max_user_participations }}</p>
        <button (click)="participarEnSorteo(sorteo)">Participar</button>
      </div>
    </div>
  </div>
</div>
