<!-- ETAPA 1: SELECCIÓN -->
 <div class="container" *ngIf="etapaSeleccion">
  <app-header [headerTitle]="'Fidelidad - Anulacion'" [arrowNavigation]="'fidelidad'"></app-header>
  <div class="main-content"></div>
  <div class="grid-buttons">
    <!-- <button class="tarjetas" (click)="buscarPorTarjeta()">
      <i class="material-icons">credit_score</i>
      TARJETAS
    </button> -->
    <button class="qr" >
      <i class="material-icons">qr_code_scanner</i>
      QR
    </button>
    <button class="documento" (click)="buscarPorDNI()">
      <i class="material-icons">contact_mail</i>
      DOCUMENTO
    </button>
  </div>
</div>

<!-- ETAPA 2: RESULTADOS -->
<div class="wrapper" *ngIf="!etapaSeleccion && !cargando && transacciones.length > 0">
  <app-header [headerTitle]="'Fidelidad - Anulacion'" [arrowNavigation]="'fidelidad'"></app-header>

  <div class="containerTrans flex-grow">

    <h3>Transacciones encontradas</h3>
    
    <label for="transSelect">Seleccioná una transacción:</label>
    <select id="transSelect" [(ngModel)]="transaccionSeleccionada">
      <option [ngValue]="null" disabled selected>-- Seleccionar --</option>
      <option *ngFor="let trans of transacciones" [ngValue]="trans">
        ID: {{ trans.id }} | Fecha: {{ trans.date }} | ${{ trans.amount }}
      </option>
    </select>
    
    <!-- Detalles de la transacción seleccionada -->
    <div *ngIf="transaccionSeleccionada" class="detalleTrans">
      <p><strong>ID:</strong> {{ transaccionSeleccionada.id }}</p>
      <p><strong>Fecha:</strong> {{ transaccionSeleccionada.date }}</p>
      <p><strong>Monto:</strong> ${{ transaccionSeleccionada.amount }}</p>
      <p><strong>Tipo:</strong> {{ transaccionSeleccionada.branch_name }}</p>
      <!-- <p><strong>Estado:</strong> {{ transaccionSeleccionada.status }}</p> -->
    </div>
    
    <!-- Botón para anular -->
  </div>
  <button class="btn btnAnular" [disabled]="!transaccionSeleccionada" (click)="anularTransaccion(transaccionSeleccionada)">Anular</button>
</div>


