<!-- ETAPA 1: SELECCIÓN -->
 <div class="container" *ngIf="etapaSeleccion">
  <app-header [headerTitle]="'Fidelidad - Anulacion'" [arrowNavigation]="'fidelidad'"></app-header>
  <div class="main-content"></div>
  <div class="grid-buttons">
    <button class="tarjetas" (click)="buscarPorTarjeta()">
      <i class="material-icons">credit_score</i>
      TARJETAS
    </button>
    <button class="qr" >
      <i class="material-icons">qr_code_scanner</i>
      QR
    </button>
    <button class="documento" (click)="buscarPorDNI()">
      <i class="material-icons">contact_mail</i>
      DOCUMENTO
    </button>
  </div>
</div>

<!-- ETAPA 2: RESULTADOS -->
<div *ngIf="!etapaSeleccion && cargando">Cargando transacciones...</div>
<div *ngIf="!etapaSeleccion && error">{{ error }}</div>

<div *ngIf="!etapaSeleccion && !cargando && transacciones.length === 0">
  No se encontraron transacciones para este usuario.
</div>

<div *ngIf="!etapaSeleccion && !cargando && transacciones.length > 0">
  <h2>Transacciones encontradas</h2>
  <div *ngFor="let trans of transacciones" class="transaccion-card">
    <p><strong>ID:</strong> {{ trans.id }}</p>
    <p><strong>Fecha:</strong> {{ trans.date }}</p>
    <p><strong>Monto:</strong> ${{ trans.amount }}</p>
    <p><strong>Tipo:</strong> {{ trans.branch_name }}</p>
    <p><strong>Estado:</strong> {{ trans.status }}</p>
    <button mat-raised-button color="warn" (click)="anularTransaccion(trans)">Anular</button>
  </div>
</div>
