
<!-- ETAPA 1: INGRESO MONTO -->
<div *ngIf="etapa === 'monto' && cliente">
  <app-header [headerTitle]="'Monto de compra'"></app-header>
  <div class="container">
    
    <div class="cliente-info d-flex justify-content-between">
      <div class="cliente-nombre">
        <p class="clientName">{{ cliente.datosCliente.name }} {{ cliente.datosCliente.last_name }}</p>
        <p class="clientType">{{ cliente.tipoCliente.name }}</p>
      </div>
  
      <div class="cliente-puntos">
        <span>{{ cliente.datosCliente.points | number:'1.0-0' }} puntos</span><br />
        <span class="cash">$ {{ cliente.datosCliente.cash | number:'1.2-2' }}</span>
      </div>
    </div>

  </div>

    <div class="input-group inputAmount w-75">
      <span class="input-group-text prefix">$</span>
      <input type="number" class="form-control" inputmode="numeric" min="0" placeholder='Monto de compra' required [(ngModel)]="monto">
    </div>
    <button class="btn btn-confirmar" > <i class="material-icons" (click)="confirmarMonto()">check_box</i></button>

</div>

<!-- ETAPA 2: DETALLE -->
<div *ngIf="etapa === 'detalle' && cliente"  class="detalle-wrapper">
  <app-header [headerTitle]="'Detalle operación'"></app-header>
  <div class="container flex-grow">
    
    <div class="cliente-info d-flex justify-content-between">
      <div class="cliente-nombre">
        <p class="clientName">{{ cliente.datosCliente.name }} {{ cliente.datosCliente.last_name }}</p>
        <p class="clientType">{{ cliente.tipoCliente.name }}</p>
      </div>
  
      <div class="cliente-puntos">
        <span>{{ cliente.datosCliente.points | number:'1.0-0' }} puntos</span><br />
        <span class="cash">$ {{ cliente.datosCliente.cash | number:'1.2-2' }}</span>
      </div>
    </div>



    <div class="detalleOp">
      <div class="fila">
        <div class="campoFila">
          <p class="descripcionCampo">MEDIO DE PAGO</p>
          <p class="valorCampo">{{ cliente.datosCliente.client_type_name }}</p>
        </div>
        <div class="campoFilaRigth">
          <p class="descripcionCampo">NRO. TICKET</p>
          <p class="valorCampo">{{nroTicket}}</p>
        </div>
      </div>
      <div class="fila">
        <div class="campoFila">
          <p class="descripcionCampo">TIPO DE OPERACION</p>
          <p class="valorCampo">{{ origenOperacion }}</p>
        </div>
        <div class="campoFilaRigth">
          <p class="descripcionCampo">MONTO</p>
          <p class="valorCampo">$ {{ monto }}</p>
        </div>
      </div>
      <div class="fila">
        <div class="campoFila">
          <p class="descripcionCampo">PUNTOS</p>
          <p class="valorCampo green">{{ cliente.datosCliente.points }}</p>
        </div>
        <div class="campoFilaRigth">
          <p class="descripcionCampo">PUNTOS OBTENIDOS</p>
          <p class="valorCampo green">{{ obtainedPoints }}</p>
        </div>
      </div>
    </div>

  </div>
  @if (!loginSpinner) {
    <button class="btn-continuar btnContinuar btn" (click)="confirmarOperacion()">CONTINUAR</button>
  }@else {
      <button class="btn-continuar btnContinuar btn" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
  }

</div>

<!-- ETAPA 3: FIRMA -->
<!-- <div *ngIf="etapa === 'firma'">
  <h2>Firma Cliente</h2>
  <input [(ngModel)]="nombreFirmado" placeholder="Escriba su nombre..." />
  <button class="btn-continuar" (click)="confirmarOperacion()">CONFIRMAR</button>
</div> -->