<img src="assets/fidelyLogin.png" alt="Fidely" class="imgLogin">
<h1>Fidely Argentina - Fidely</h1>
<!-- <button (click)="login()">Login</button> -->

<form [formGroup]="loginForm" (keydown.enter)="$event.preventDefault(); onSubmit()" class="form">
    <div class="form-group example-container">
      <mat-form-field class="w-100">
        <mat-label for="user">Usuario</mat-label>
        <input id="user" type="text" formControlName="user"
              matInput
              placeholder="Usuario"
              required>
        @if (loginForm.controls.user.invalid) {
        <mat-error>"Debes ingresar un nombre de usuario"</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label for="password">Contraseña</mat-label>
        <input id="password" type="password" formControlName="password"
              matInput [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-error class="loginError" *ngIf="loginError"> <mat-icon>error_outline</mat-icon><span>Usuario o contraseña invalidos</span></mat-error>
    </div>
    @if (!loginSpinner) {
      <button (click)="onSubmit()" [disabled]="loginForm.controls.user.invalid" class="btn btnSign btn-block w-100">Ingresar</button>
    }@else {
      <button class="btn btnSign btn-block w-100" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>

    }
</form>


