<div *ngIf="etapa === 'monto'">
  <app-header [headerTitle]="'Monto de Compra'"></app-header>

  <div class="input-group inputAmount w-75">
    <span class="input-group-text prefix">$</span>
    <input type="number" class="form-control" inputmode="numeric" min="0" placeholder='Monto de compra' required [(ngModel)]="monto">
  </div>
  <button class="btn btn-confirmar" > <i class="material-icons" (click)="confirmarMonto()">check_box</i></button>

</div>

<div *ngIf="etapa === 'detalle'" class="detalle-info">
    <app-header [headerTitle]="'Transaccion Fidelidad Tarjeta'"></app-header>
  <p><strong>Cliente:</strong> {{ cliente.datosCliente.name }} {{ cliente.datosCliente.last_name }}</p>
  <p><strong>Numero Tarjeta:</strong> {{ cliente.datosCliente.card_number }}</p>
  <p><strong>Monto:</strong>$ {{ monto }}</p>
  <button (click)="confirmarTipoOperacion()">Confirmar</button>
</div>

