  .container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0;
  }

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0;
}

.main-content {
  flex-grow: 1;
  background-color: white;
}
.grid-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20%;
}

  
button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1rem;
    i {
      font-size: 3rem;
      margin-bottom: 0.5rem;
    }
}
.tarjetas {
  background-color: #f7941e;
  border: 1px solid white;
}
.qr {
  background-color: #5e2a84;
  border: 1px solid white;
}
.documento {
  background-color: #007bff;
  border: 1px solid white;
}


.lista-encuestas {
  padding: 2rem;
}

.card-encuesta {
  border: 1px solid #ccc;
  padding: .5rem;
  margin-bottom: 15px;
  border-radius: 10px;
  background: #f5f5f5;
}

.selectBtn{
  color: black;
  font-weight: 400;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  font-size: .9rem;
}

.mensaje-vacio {
  text-align: center;
  margin-top: 30px;
  color: gray;
}
.card-title{
  font-size: 1.2rem;
}
.card-text{
  color: gray;
  font-size: .8rem;
  margin: 0;
}
span{
  font-size: .9rem;
}
.desdeHasta{
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin-bottom: .8rem;
  margin-top: .8rem;
}