<div class="container">
  <app-header [headerTitle]="'Encuestas'" [arrowNavigation]="'inicio'"></app-header>
    <div class="main-content">
      
      <div *ngIf="encuestasObtenidas && encuestas.length > 0" class="lista-encuestas">
        <h4>Encuestas disponibles</h4>
        <div *ngFor="let encuesta of encuestas" class="card-encuesta">
        <h5 class="card-title">{{ encuesta.title }}</h5>
        <div class="desdeHasta">
          <p class="card-text">Desde: </p><span>{{ encuesta.date_from }}</span>
          <p class="card-text">Hasta: </p><span>{{ encuesta.date_to }}</span>
        </div>
          <button class="selectBtn" (click)="seleccionarEncuesta(encuesta)">Seleccionar</button>
        </div>
      </div>

      <div *ngIf="encuestasObtenidas && encuestas.length === 0" class="mensaje-vacio">
        <p>No se encontraron encuestas disponibles.</p>
      </div>
    </div>



  <div class="grid-buttons">
    <!-- <button class="tarjetas" (click)="onSeleccionar('tarjeta')">
      <i class="material-icons">credit_card</i>
      TARJETAS
    </button> -->
    <button class="qr" (click)="onSeleccionar('qr')">
      <i class="material-icons">qr_code_scanner</i>
      QR
    </button>
    <button class="documento" (click)="onSeleccionar('documento')">
      <i class="material-icons">contact_mail</i>
      DOCUMENTO
    </button>
  </div>
</div>



