<div class="container">
  <app-header></app-header>
  <div class="main-content"></div>
  <div class="grid-buttons">
    <button class="compra" (click)="goToCompras()">
      <i class="material-icons">shopping_cart</i>
      COMPRA
    </button>
    <button class="canje" (click)="goToCanje()">
      <i class="material-icons">sync_alt</i>
      CANJE
    </button>
    <button class="anulacion">
      <i class="material-icons icon">cancel</i>
      ANULACIÓN
    </button>
    <button class="Consulta de Saldo" (click)="abrirPopupConsultarSaldo()">
      CONSULTAR SALDO
    </button>
  </div>
</div>
