/* .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .grid-item {
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    color: white;
  }
  .compra { background-color: orange; }
  .canje { background-color: deepskyblue; }
  .anulacion { background-color: seagreen; }
  .saldo { background-color: purple; } */
  
  .container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0;
  }

  .main-content {
    flex-grow: 1;
    background-color: white;
  }

  .grid-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 40%;
  }

    button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: bold;
      font-size: 1rem;

      i {
        font-size: 4rem;
        margin-bottom: 0.5rem;
      }
    }

    .compra { background-color: #f59e0b; border: 1px solid white;} /* naranja */
    .canje { background-color: #3b82f6; border: 1px solid white;}  /* azul */
    .anulacion { background-color: #10b981; border: 1px solid white;} /* verde */
    .saldo { background-color: #8b5cf6; border: 1px solid white;}  /* violeta */
  