*{
  font-family: 'RedHatDisplay', sans-serif;
}
.notif{
  width: 100vw;
  max-width: 100%;
}
.failIcon{
  font-size: 7rem;
  padding-bottom: 1rem;
}
.failTitle{
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.failText{
  text-align: center;
  font-size: .85rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.succesIcon, .errorIcon{
  font-size: 7rem;
  padding-bottom: 1rem;
}
.succesTitle{
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
button{
  color: black;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 10px;
  padding: .2rem .5rem;
  font-size: .9rem;
  margin-top: 4rem;
}
