*{
  font-family: 'RedHatDisplay', sans-serif;
}
.notif{
  width: 100vw;
  max-width: 100%;
}
.failIcon{
  font-size: 7rem;
  padding-bottom: 1rem;
}
.failTitle{
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.failText{
  text-align: center;
  font-size: .85rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.succesIcon, .errorIcon{
  font-size: 7rem;
  padding-bottom: 1rem;
}
.succesTitle{
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
