/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'RedHatDisplay';
    src: url('./assets/fonts/RedHatDisplay-VariableFont_wght.ttf');
  }

html, body { height: 100%; }

body { 
    margin: 0;
    font-family: 'RedHatDisplay', sans-serif !important;
    max-width: 600px;
    margin: auto!important;
    box-shadow: -10px 0 15px -5px rgba(90, 90, 90, 0.3), 
            10px 0 15px -5px rgba(90, 90, 90, 0.3);
            padding: 2rem;
}
h1, h2, h3, p, a, li, div{
    font-family: "Red Hat Display", sans-serif !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: RedHatDisplay, "Helvetica Neue", sans-serif; }
